/* import lightbox less */
@import 'lightbox.less';

/* Gallery variables */

#image-gallery {
  margin-bottom: 30px;
  padding: 0 15px 0 15px;
}

.gallery-image-wrapper {
  padding: 15px;
}

.gallery-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
}

.gallery-image img {
  width: 100%;
  height: 100%;
}

/* Gradient variables */

.gallery-image-title {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

/* Overrides */

<<<<<<< HEAD
.gallery-image a:focus,
.gallery-image a:hover,
.gallery-image a:active {
  outline: 0 !important;
=======
.lightbox a:focus, .lightbox a:hover, .lightbox a:active {
  outline: none !important;
>>>>>>> 752877b1d801612ea7283ee17507ce4fd1d2db1d
}
