/* import lightbox less */
@import "lightbox.less";

#gallery {
  margin-bottom: 30px;
}

.gallery-image img {
  width: 100%;
  height: 100%;
}

.lightbox a:focus,
.lightbox a:hover,
.lightbox a:active {
  outline: none !important;
}
